.main-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include for-desktop-up {
        padding: 40px 0;

        &::after {
            content: '';
            position: relative;
            align-self: center;
            order: 1;
            top: 0;
            right: -2rem;
            height: 1px;
            width: 100%;
            background: rgba($light-color, 0.25);
        }
    }
}

.main-header .logo {
    flex-shrink: 0;
    order: 0;
    margin: 24px clamp(24px, 4vw, 64px);

    &>img {
        width: 36px;

        @include for-tablet-up {
            width: 48px;
        }
    }
}

.navbar {
    order: 2;
    display: flex;
    align-items: stretch;

    @include for-tablet-up {
        padding-inline: clamp(3rem, 7vw, 7rem);
        background-color: rgba($light-color, 0.05);
        backdrop-filter: blur(32px);
    }

    @include for-desktop-up {
        padding-inline: clamp(3rem, 6vw, 7rem) clamp(3rem, 8vw, 7rem);
    }
}

.navbar__links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    @include for-tablet-up {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: clamp(1.5rem, 5vw, 3.5rem);
    }
}

.navbar__links .link {
    display: flex;
    align-items: stretch;
    padding-top: 3px;
    border-bottom: 3px solid transparent;

    & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;

        & .number {
            font-weight: 700;
            margin-right: 12px;

            @include for-tablet-up {
                display: none;
            }

            @include for-desktop-up {
                display: inline;
            }
        }
    }

    &:hover {
        border-bottom-color: rgba($light-color, 0.5);
    }

    &.active {
        border-bottom-color: $light-color;
    }
}

.navbar__toggle {
    width: 24px;
    position: relative;
    display: flex;
    margin: 30px;
    cursor: pointer;

    @include for-tablet-up {
        display: none;
    }

    input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        margin: 0;
        opacity: 0;
        z-index: 2;
    }

    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../assets/shared/icon-close.svg");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 2;
    }
    
    input[type=checkbox]:checked~.hamburger {
        background-image: url("../../assets/shared/icon-hamburger.svg");
    }

    .sidebar__links {
        position: absolute;
        width: 250px;
        margin: -100px 0 0 56px;
        height: calc(100vh + 100px);
        padding: 50px 4px;
        padding-top: 160px;
        z-index: 1;

        background: rgba($light-color, 0.04);
        backdrop-filter: blur(32px);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .sidebar__links .link a {
        display: block;
        padding: 10px 20px;
        border-right: 2px solid transparent;
        text-decoration: none;
        color: $light-color;

        a:hover {
            border-right-color: rgba($light-color, 0.5);
        }

        & .number {
            font-weight: 700;
            margin-right: 12px;
        }
    }

    .sidebar__links .link.active a {
        border-right-color: $light-color;
    }

    /*
    * And let's slide it in from the left
    */
    & input:checked~ul {
        transform: none;
    }
}