/** COLOR **/

$dark-color: #0B0D17;
$light-color: #FFFFFF;
$soft-light-color: #D0D6F9;


/** TYPOGRAPHY **/

// Font family
$font-family-base: 'Barlow', sans-serif;
$font-family-sans: 'Barlow Condensed', sans-serif;
$font-family-serif: 'Bellefair', serif;

// Font size
$font-size-base: 18px;

$font-size-h1: 150px;
$font-size-h2: 100px;
$font-size-h3: 56px;
$font-size-h4: 32px;
$font-size-h5: 28px;

$font-size-sh1: 28px;
$font-size-sh2: 14px;
$font-size-nav: 16px;

// Letter spacing
$spacing-h5: 4.75px;
$spacing-sh2: 2.35px;
$spacing-nav: 2.7px;
