/** COLOR **/
/** TYPOGRAPHY **/
/** BREAKPOINTS **/
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/** Headings **/
h1.heading--1 {
  font-family: "Bellefair", serif;
  font-size: 80px;
}
@media (min-width: 650px) {
  h1.heading--1 {
    font-size: 150px;
  }
}

h2.heading--2 {
  font-family: "Bellefair", serif;
  font-size: 56px;
}
@media (min-width: 650px) {
  h2.heading--2 {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  h2.heading--2 {
    font-size: 100px;
  }
}

h3.heading--3 {
  font-family: "Bellefair", serif;
  font-size: 24px;
}
@media (min-width: 650px) {
  h3.heading--3 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  h3.heading--3 {
    font-size: 56px;
  }
}

.heading--4 {
  font-family: "Bellefair", serif;
  font-size: 16px;
}
@media (min-width: 650px) {
  .heading--4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .heading--4 {
    font-size: 32px;
  }
}

.heading--5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}
@media (min-width: 650px) {
  .heading--5 {
    font-size: 20px;
    letter-spacing: 3.5px;
  }
}
@media (min-width: 1200px) {
  .heading--5 {
    font-size: 28px;
    letter-spacing: 4.75px;
  }
}

/** Subheadings **/
h1.subheading--1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
}

h2.subheading--2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

/** Other **/
h1, h2, h3, h4, h5 {
  font-weight: 400;
  text-transform: uppercase;
}

.nav__text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .nav__text {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
}
@media (min-width: 650px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

body {
  background-color: #0B0D17;
  background-position: top center;
  background-size: cover;
  color: #FFFFFF;
  overflow-x: hidden;
}

p {
  word-wrap: break-word;
  color: #D0D6F9;
}

.main-content {
  display: grid;
  text-align: center;
}
@media (min-width: 1200px) {
  .main-content {
    text-align: start;
  }
}

.title {
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media (min-width: 650px) {
  .title {
    justify-self: self-start;
    margin-block: 40px 60px;
  }
}
@media (min-width: 1200px) {
  .title {
    margin-block: 20px 80px;
  }
}
.title .number {
  font-weight: 700;
  margin-right: 16px;
  opacity: 0.25;
}
@media (min-width: 1200px) {
  .title .number {
    margin-right: 24px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #383B4B;
}

::-webkit-scrollbar {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 1200px) {
  .main-header {
    padding: 40px 0;
  }
  .main-header::after {
    content: "";
    position: relative;
    align-self: center;
    order: 1;
    top: 0;
    right: -2rem;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
  }
}

.main-header .logo {
  flex-shrink: 0;
  order: 0;
  margin: 24px clamp(24px, 4vw, 64px);
}
.main-header .logo > img {
  width: 36px;
}
@media (min-width: 650px) {
  .main-header .logo > img {
    width: 48px;
  }
}

.navbar {
  order: 2;
  display: flex;
  align-items: stretch;
}
@media (min-width: 650px) {
  .navbar {
    padding-inline: clamp(3rem, 7vw, 7rem);
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding-inline: clamp(3rem, 6vw, 7rem) clamp(3rem, 8vw, 7rem);
  }
}

.navbar__links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 650px) {
  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: clamp(1.5rem, 5vw, 3.5rem);
  }
}

.navbar__links .link {
  display: flex;
  align-items: stretch;
  padding-top: 3px;
  border-bottom: 3px solid transparent;
}
.navbar__links .link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.navbar__links .link a .number {
  font-weight: 700;
  margin-right: 12px;
}
@media (min-width: 650px) {
  .navbar__links .link a .number {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar__links .link a .number {
    display: inline;
  }
}
.navbar__links .link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.navbar__links .link.active {
  border-bottom-color: #FFFFFF;
}

.navbar__toggle {
  width: 24px;
  position: relative;
  display: flex;
  margin: 30px;
  cursor: pointer;
  /*
  * And let's slide it in from the left
  */
}
@media (min-width: 650px) {
  .navbar__toggle {
    display: none;
  }
}
.navbar__toggle input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  opacity: 0;
  z-index: 2;
}
.navbar__toggle .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/shared/icon-close.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 2;
}
.navbar__toggle input[type=checkbox]:checked ~ .hamburger {
  background-image: url("../assets/shared/icon-hamburger.svg");
}
.navbar__toggle .sidebar__links {
  position: absolute;
  width: 250px;
  margin: -100px 0 0 56px;
  height: calc(100vh + 100px);
  padding: 50px 4px;
  padding-top: 160px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.navbar__toggle .sidebar__links .link a {
  display: block;
  padding: 10px 20px;
  border-right: 2px solid transparent;
  text-decoration: none;
  color: #FFFFFF;
}
.navbar__toggle .sidebar__links .link a a:hover {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.navbar__toggle .sidebar__links .link a .number {
  font-weight: 700;
  margin-right: 12px;
}
.navbar__toggle .sidebar__links .link.active a {
  border-right-color: #FFFFFF;
}
.navbar__toggle input:checked ~ ul {
  transform: none;
}

.action-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.75rem;
  padding-inline: 32px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #0B0D17;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 650px) {
  .action-btn {
    margin: 4.25rem;
    padding-inline: 48px;
  }
}
@media (min-width: 1200px) {
  .action-btn {
    margin: 4.75rem;
    padding-inline: 64px;
  }
}
.action-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.action-btn:hover::after {
  opacity: 0.1;
  transform: scale(1.6);
}

body {
  background-image: url("../assets/home/background-home-mobile.jpg");
}
@media (min-width: 650px) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

.main-content {
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    margin: auto;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
}
@media (min-width: 650px) {
  .info-container {
    padding: 48px;
  }
}
@media (min-width: 1200px) {
  .info-container {
    align-items: flex-start;
  }
}
.info-container h5 {
  color: #D0D6F9;
  padding-block: 2rem;
}
.info-container p {
  margin-top: 24px;
}
@media (min-width: 650px) {
  .info-container p {
    max-width: 444px;
  }
}
@media (min-width: 1200px) {
  .info-container p {
    max-width: 450px;
  }
}

.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
@media (min-width: 650px) {
  .action-container {
    padding: 48px;
  }
}
@media (min-width: 1200px) {
  .action-container {
    padding: 48px;
    justify-content: end;
    align-items: flex-end;
  }
  .action-container .action-btn {
    margin-right: 0;
    margin-bottom: 0;
  }
}